/*
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #0f31d2;
}

#curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#curtain span {
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	display: block;
	transform-origin: bottom left;
	transition: 0.5s ease-in-out;
	transform: rotate(-90deg);
}

#curtain span:nth-child(1) {
	background: #ff1f6b;
	transform: rotate(-90deg);
	transition-delay: 0.2s;
}

#curtain span:nth-child(2) {
	background: #219dff;
	transform: rotate(-90deg);
	transition-delay: 0.1s;
}

#curtain span:nth-child(3) {
	background: #111;
	transform: rotate(-90deg);
	transition-delay: 0s;
}

#curtain.active span:nth-child(1) {
	z-index: 1;
	transition-delay: 0s;
}

#curtain.active span:nth-child(2) {
	z-index: 2;
	transition-delay: 0.1s;
}

#curtain.active span:nth-child(3) {
	z-index: 3;
	transition-delay: 0.2s;
}

#curtain.active span {
	transform: rotate(0deg);
}

.toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background: linear-gradient(#219dff, #ff1f6b);
	background-position: 5px;
	border-radius: 50px;
	box-shadow: 10px 10px 37px #0a218f, 
	-29px -29px 57px #466bff;
	z-index: 1000;
	cursor: pointer;
	transition: 0.5s;
}

#curtain.active .toggle {
	background: linear-gradient(#ff1f6b, #219dff);
	background-position: 5px;
	border-radius: 50px;
	box-shadow: 10px 10px 37px rgba(255, 255, 255, 0.3), 
	-29px -29px 57px rgba(255, 255, 255, 0.5);
}

ul {
	position: absolute;
	z-index: 100;
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
	transition-delay: 0s;
}

#curtain.active ul {
	visibility: visible;
	opacity: 1;
	transition-delay: 0.7s;
}

#curtain ul li {
	list-style: none;
	margin: 10px 0;
}

#curtain ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 4em;
	padding: 10px;
	text-align: center;
	display: block;
	font-family: consolas;
	border-radius: 10px;
	transition: 0.3s;
}

#curtain ul li a:hover {
	transform: scale(1.25);
	background: linear-gradient(45deg, #219dff, #ff1f6b)
}



.centre-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1.titre {
	display: inline-block;
	padding: 30px;
	font-size: 55px;
    color: #9aaaf8;
	font-family: 'Ubuntu', sans-serif;

	border-radius: 100px;
	background: linear-gradient(145deg, #1034e1, #0e2cbd);
	box-shadow: 29px 29px 57px #0a218f, 
	-29px -29px 57px #1441ff;
}