@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

/*
	font-family: 'Poppins', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #d44339;
}

a {
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
	color: #fff;
	font-size: 18px;
	border-radius: 40px;
	box-shadow: -2px -2px 8px rgba(212, 67, 57, 0.15),
				-2px -2px 12px rgba(212, 67, 57, 0.5),
				inset 2px 2px 4px rgba(212, 67, 57, 0.1),
				2px 2px 8px rgba(0, 0, 0, 0.15);
}

a:hover {
	box-shadow: inset -2px -2px 8px rgba(212, 67, 57, 0.15),
				inset -2px -2px 12px rgba(212, 67, 57, 0.5),
				inset 2px 2px 4px rgba(212, 67, 57, 0.1),
				inset 2px 2px 8px rgba(0, 0, 0, 0.15);
}

a:hover span {
	display: inline-block;
	transform: scale(0.98);
}